html {
  background-color: #f5f5dc;
  overflow-x: hidden;
}

body {
  user-select: none;
    overflow-x: hidden;

}
body::-webkit-scrollbar {
  display: none;
}

#navBar {
  position: fixed;
  background-color: orange;
  width: 100%;
  height: 6.5vh;
  top: 0vh;
  left: 0vw;
  z-index: 0;
  transition-delay: 0s;
  transition-duration: 0.25s;
  z-index: 0;
}

.navBarStart {
  opacity: 0%;
}
.navBarEnd {
  opacity: 100%;
}

.navigationElement {
  font-size: 4vh;
  position: fixed;
  transition: linear 0.25s;
  color: black;
  font-size: 1.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutStart {
  left: 70vw;
  top: 1vh;
}
.pricingStart {
  left: 80vw;
  top: 1vh;
}
.contactStart {
  left: 90vw;
  top: 1vh;
}

.aboutEnd {
  left: 73.5vw;
  top: 1vh;
  transform: rotateZ(5deg);
}
.pricingEnd {
  left: 83.5vw;
  top: 5vh;
  transform: rotateZ(25deg);
}
.contactEnd {
  left: 92.5vw;
  top: 14vh;
  transform: rotateZ(45deg);
}

#particles-js {
  background: rgb(0, 0, 0);
  position: absolute;
  width: 65vw;
  height: auto;
  top: -10vh;
  left: 0vw;

  border-radius: 0 5vw 30vw 0 / 0 5vw 25vw 0;
}

#headTextBackground {
  position: absolute;
  font-size: 9vw;
  white-space: nowrap;
  left: 50%;
  top: 20vh;
  color: rgb(255, 255, 255);
  transform: translate(-50%);
  z-index: 1;
  mix-blend-mode: difference;
  pointer-events: none;
}

/*
#lineContainer {
  position: absolute;
  top: 50vh;
  left: 0vw;
  height: 50vh;
  width: 100%;
  z-index: -6;
  
}

#elipse{
  position: absolute;
  left: -5vw;
  width: 110%;
  height: 100vh;
  animation: top-transition linear 2s infinite;
  background-color: beige;
  z-index: -5;

}
*/

#blackBackground{
  position: absolute;
  left: -25vw;
  width: 150%;
  height: 300vh;
  background-color: rgb(47, 47, 47);
  z-index: -6;
  animation: square-transition 10s linear infinite;
}

@keyframes square-transition {
  0% {
    top: 75vh;
    transform: rotateZ(3deg);
  }
  20% {
    top: 70vh;
    transform: rotateZ(0deg);    
  }
  40%{
    top: 65vh;
    transform: rotateZ(-3deg);
  }
  60%{
    top: 60vh;
    transform: rotateZ(-1deg);
  }
  80%{
    top: 70vh;
        transform: rotateZ(0deg);
  }
  100%{
        top: 75vh;
    transform: rotateZ(3deg);
  }
}
