html {
  background-color: #B30027;
  overflow-x: hidden;
  zoom: 100%;
}

body {
  user-select: none;
    overflow-x: hidden;


}
body::-webkit-scrollbar {
  display: none;
}

/*
#navBar {
  position: fixed;
  background-color: orange;
  width: 100%;
  height: 6.5vh;
  top: 0vh;
  left: 0vw;
  z-index: 0;
  transition-delay: 0s;
  transition-duration: 0.25s;
  z-index: 0;
}

.navBarStart {
  opacity: 0%;
}
.navBarEnd {
  opacity: 100%;
}
*/

.navigationElement {
  font-size: 4vh;
  position: fixed;
  transition: cubic-bezier(0.72, 0.03, 0.26, 0.98) 0.25s;
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    transform: translate(-50%);
  mix-blend-mode:difference;
  z-index: 3;
}

.aboutStart {
  left: 74vw;
  top: 2vh;
}
.pricingStart {
  left: 84vw;
  top: 2vh;
}
.contactStart {
  left: 94vw;
  top: 2vh;
}

.aboutEnd {
  left: 94vw;
  top: 16vh;
}
.pricingEnd {
  left: 94vw;
  top: 9vh;
}
.contactEnd {
  left: 94vw;
  top: 2vh;
}

/*
#particles-js {
  background: rgb(0, 0, 0);
  position: absolute;
  width: 65vw;
  height: auto;
  top: -10vh;
  left: 0vw;
  border-radius: 0 5vw 30vw 0 / 0 5vw 25vw 0;
          }
*/



#headTextBackPar{
    background: #980013;
  position: absolute;
  width: 40vw;
  height: 30vh;
  top:  13vh;
  left: 13vw;
   transform: skew(-5deg);
   
}



#headTextBackground {
  position: absolute;
  font-size: 9vw;
  white-space: nowrap;
  left: 50%;
  top: 20vh;
  color: rgb(255, 255, 255);
  transform: translate(-50%);
  z-index: 1;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  /*mix-blend-mode: difference;
  pointer-events: none;
  text-shadow: 0 0 20px #eeeeee;*/
}

/*
#lineContainer {
  position: absolute;
  top: 50vh;
  left: 0vw;
  height: 50vh;
  width: 100%;
  z-index: -6;
  
}

#elipse{
  position: absolute;
  left: -5vw;
  width: 110%;
  height: 100vh;
  animation: top-transition linear 2s infinite;
  background-color: beige;
  z-index: -5;

}
*/

#blackBackground{
  position: absolute;
  left: -3.55vw;
  width: 125vw;
  height: 300vh;
  background-color: rgb(255, 255, 255);
  z-index: -6;
  animation: square-transition 30s ease-in-out infinite;
}

@keyframes square-transition {
  0% {
    top: 85vh;
    transform: rotateZ(.5deg) ;
  }
  19%{
    top: 81vh;
        transform: rotateZ(-1.5deg) ;    

  }
  38%{
    top: 83vh;
    transform: rotateZ(1deg) ;
  }
  57%{
    top: 87vh;
    transform: rotateZ(-1deg) ;
  }
  76%{
    top: 84vh;
        transform: rotateZ(1.5deg) ;
  }
  85%{
        top: 80vh;
    transform: rotateZ(-.5deg) ;
  }
  100%{
        top: 85vh;
    transform: rotateZ(.5deg) ;
  }
}

#whitebg{
  position: fixed;
  left: 90vw;
  top: 0vh;
  height: 30vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0);
}